
@{
    ViewData["Title"] = "Fitorg";
    Layout = "_layoutAdmin";
}

<h2>Admin panel</h2>
<h5>
    Dobro došli na administratorski dio aplikacije.<br />
    Ovdje možete pogledati listu gradova, drzava, spolova, trenera<br />
    Kao administrator također imate opciju dodavanja, uredjivanja i brisanja svih navedenih<br />
</h5>
